@model IEnumerable<AlMualim.Models.Stories>

@{
    ViewData["Title"] = "Stories of the Prophets";
}

<ul class="list-container container px-0">
    <h1>Stories of the Prophet</h1>
    @foreach (var story in Model)
    {
        <li class="list-main list-generic">
            <a asp-action="Notes" asp-route-id="@story.ID" class="link-box"></a>
            <div class="list-sub-item">@story.Prophet</div>
            <div class="list-sub-item"><i class="list-arrow"></i></div>
        </li>
    }
</ul>