@model IEnumerable<AlMualim.Models.Stories>

@{
    ViewData["Title"] = "Stories of the Prophets";
}

<div class="list-container container">
    <h1>Stories of the Prophet</h1>
    @foreach (var story in Model)
    {
        <div class="list-main">
            <a asp-action="Notes" asp-route-id="@story.ID" class="link-box"></a>
            <div class="">@story.Prophet</div>
            <div class="">></div>
        </div>
    }
</div>