@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-main">

</div>

<div class="wt-wrapper">
    <div class="wt wt-main"><span class="radial-text">Al Mualim</span></div>
    <div class="wt wt-subtext"><span class="radial-text">Tafseer and Islamic History</span></div>
    <div class="wt-min-wrapper">
        <a class="wt-sub" href="#"><span>Subscribe</span></a>
        <div class="wt wt-author"><span class="radial-text">By Uzma Jabeen</span></div>
    </div>
</div>
