@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-main">

</div>

<div class="wt-wrapper">
    <div class="wt wt-main" style="display:none;"><span class="radial-text">Al Mualim</span></div>
    <div class="wt wt-subtext" style="display:none;"><span class="radial-text">Tafseer and Islamic History</span></div>
    <div class="wt-min-wrapper" style="display:none;">
        <a class="wt-sub" href="#"><span>Subscribe</span></a>
        <div class="wt wt-author"><span class="radial-text">By Uzma Jabeen</span></div>
    </div>
</div>

<div class="footer radial-text">
    © 2021 - AlMualim - Note by Uzma Jabeen  - Website designed by Teraflare Development Inc.
</div>

<script>
    $(document).ready(function(){
        $('.wt-main').delay(100).fadeIn(1500);
        $('.wt-subtext').delay(400).fadeIn(1500);
        $('.wt-min-wrapper').delay(700).fadeIn(1500);
    });
</script>