@model AlMualim.Models.Notes

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Notes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surah" class="control-label"></label>
                <input asp-for="Surah" class="form-control" />
                <span asp-validation-for="Surah" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ruku" class="control-label"></label>
                <input asp-for="Ruku" class="form-control" />
                <span asp-validation-for="Ruku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="contorl-label">Topics</label>
                <select name="SelectedTopics" multiple>
                    @foreach (Topics topic in (List<Topics>)ViewData["Topics"])
                    {
                        <option value="@topic.ID">@topic.Title</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
