@model AlMualim.Models.Notes

@{
    ViewData["Title"] = "Note";
}

<h1>@Model.Title</h1>
@if(@Model.Surah != null)
{

}
else
{

}

<iframe src="https://docs.google.com/gview?url=@Model.URL&embedded=true" style="width:718px; height:700px;" frameborder="0"></iframe>
