@model IEnumerable<AlMualim.Models.Topics>

@{
    ViewData["Title"] = "Topics";
}

<ul class="list-container container px-0">
    <h1>Topics</h1>
    @foreach (var item in Model)
    {
        <li class="list-main list-generic">
            <a asp-action="Notes" asp-route-id="@item.ID" class="link-box"></a> 
            <div class="list-sub-item">@item.Title</div>
            <div class="list-sub-item"><i class="list-arrow"></i></div>
        </li>
    }
</ul>
