@model IEnumerable<AlMualim.Models.Notes>

@{
    ViewData["Title"] = "History";
    var surah = (List<Surah>)ViewData["Surah"];
}

<div class="list-container">
    <h1>Islamic History</h1>
    @foreach (var note in Model)
    {
        <div class="list-main">
            <a asp-controller="Notes" asp-action="Details" asp-route-id="@note.ID" class="link-box"></a>
            @if (note.Surah != null)
            {
                <div class=""> - @note.Title (@surah.First(s => s.ID == note.Surah).Title)</div>
            }
            else
            {
                <div class=""> - @note.Title</div>
            }
            <div class="">></div>
        </div>
    }
</div>