.reorderable
{
    width: 100%;
    max-height: 200px;
    list-style-type: none;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
    
    li
    {
        background-color: rgb(206, 255, 223);
        border: 1px solid grey;
        margin: 2px 0;
        padding-left: 5px;
        width: 100%;
        cursor: grab;
        font-size: 20px;
        border-radius: 10px;
        font-family: @font-std;
    }

    &.expanded
    {
        max-height: 507px;
    }
}

.admin-topic-mod
{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;

    .admin-topic-container
    {
        top: calc(50% - 200px);
        position: relative;
        margin: auto auto;
        height: auto;
        width: 400px;
        background-color: white;
        padding: 10px;
        
        .control-label
        {
            display: block;
            font-size: 16px;
            font-weight: bold;
        }
        
        .text-input
        {
            display: block;
            width: 100%;
            margin-bottom: 10px;
        }

        .topic-mod-hide
        {
            a{
                color: white;
                text-decoration: none;
            }
        }

        select 
        {
            margin-bottom: 10px;
        }

        
    }
}

.hidable-menu
{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;

    .hidable-core
    {
        top: calc(50% - 200px);
        position: relative;
        margin: auto auto;
        height: auto;
        width: 400px;
        background-color: white;
        padding: 10px;

        .btn-primary{
            margin-top: 5px;
        }
    }
}

.add-edit-section{
    .input-group-text{
        width: 150px;
    }


    .entity-list{
        display: grid;
        grid-template-columns: 1fr 150px;
        grid-template-rows: auto auto auto auto auto;
        column-gap: 1rem;

        .admin-topics-container{
            height: 200px;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            overflow-y:scroll;
            padding: 10px;
            background-color: white;

            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 6;
        }

        .btn{
            margin: 3px;
            height: 40px;

            a{
                font-size: 16px;
            }
        }
    }
}
