@bg-color-main: #001E0A;
@bg-color-main-alt: #00240c;
@bg-color-main-hover: #001407;
@bg-color-sub: #001106;
@bg-color-sub-alt: #020e05;
@bg-color-sub-hover: #000000;


.list-container{
    list-style: none;
    color: @font-color-std;
    font-size: 30px;
    line-height: 100%;
    font-family: @font-std;

    h1{
        line-height: 50px;
        font-size: 40px;
        font-family: @font-std;
        font-weight: 400;
    }

    .list-main{
        position: relative;
        display: grid;
        grid-auto-flow: column;
        height: 60px;
        background-color: @bg-color-main;
        transition: background-color @anim-std;

        &:nth-child(odd){
            background-color: @bg-color-main-alt;
        }

        &:hover{
            background-color: @bg-color-main-hover;
        }
    }
    
    .list-generic{
        grid-template-columns: 1fr 100px;
        padding-left: 1rem;
    }

    .list-sub{
        position: relative;
        display: grid;
        grid-auto-flow: column;
        height: 40px;
        background-color: @bg-color-sub;
        transition: background-color @anim-std;
        font-size: 20px;

        &:nth-child(odd){
            background-color: @bg-color-sub-alt;
        }

        &:hover{
            background-color: @bg-color-sub-hover;
        }
    }

    .list-sub-item{
        height: 100%;
        display: flex;
        align-items: center;
    }

    .list-arrow{
        height: 50%;
        background: url("../img/list-arrow-right.svg") no-repeat;
        background-size: contain;
        background-position: right;
        width: 100%;
        margin-right: 1rem;
    }

    .list-arrow-down{
        height: 25%;
        background: url("../img/list-arrow-down.svg") no-repeat;
        background-size: contain;
        background-position: right;
        width: 100%;
        margin-right: 1rem;
    }

    .list-header{
        display: grid;
        grid-template-columns: 1fr auto;

        h1.arabic-text{
            display: flex;
            align-items: flex-end;
            font-size: 60px;
            line-height: 30px;
        }
    }
}


@media only screen and (max-width:990px)
{
    .list-container{
        font-size: 15px;

        h1{
            line-height: 30px;
            font-size: 20px;
        }

        .list-main{
            height: 40px;
        }

        .list-sub{
            height: 30px;
            font-size: 15px;
        }

        .list-header{
            h1.arabic-text{
                font-size: 30px;
                line-height: 20px;
            }
        }
    }
}