/* NAVIGATION CSS */
.nav-spacer{
    height: 75px;
    margin-bottom: 3rem;
}

.navigation{
    //Positioning
    height: 75px;
    margin: 0 0 2rem 0;
    width: 100%;
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;

    // Display
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 11, 2, 0.75);
    overflow: hidden;

    .nav-logo{
        height: 100%;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

        .nav-icon{
            height: 40px;
            width: 75px;
            background-image: url(../img/icon.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .nav-container{
        // Positioning
        height: 100%;
        margin: auto 0 auto auto;

        // Display:
        display: grid;
        grid-auto-flow: column;

        .nav-selection{
            height: 100%;
            width: 125px;
            margin: 0;

            position: relative;
            background-color: transparent;

            transition: background-color 0.25s;

            a{
                position: absolute;
                height: 100%;
                width: 100%;
            }

            .nav-text{
                height:100%;
                width: 100%;
                margin: 0;

                // Text
                font-family: @font-std;
                line-height: 75px;
                font-size: 23px;
                font-weight: bold;
                text-align: center;
            }

            &:hover{
                background-color: rgba(0, 11, 2, 0.75);
            }
        }
    }
}
.nav-mobile-wrapper{
    display:none;
}

@media only screen and (max-width:990px)
{
    .navigation{
        overflow: visible;
        height: 75px;
        background-color: rgba(0, 11, 2, 0.95);

        .nav-logo{
            width: 100px;
        }
        
        .nav-container{
            display:none;
        }
        
        .nav-mobile{
            height: 75px;
            width: 75px;
            display: flex;
            justify-content: center;
            align-items: center;

            .nav-mobile-icon{
                background: url("../img/mobile-nav.svg") no-repeat;
                background-size: contain;
                width: 50%;
                height: 40%;
            }
        }
    }

    .nav-mobile-wrapper{
        position: absolute;
        width: 100%;
        height: auto;
        top: 75px;
        background-color: rgba(0, 11, 2, 0.95);
        z-index: 100;
        display: none;

        .nav-mobile-container{
            display: grid;
            grid-template-columns: 1fr;

            .mobile-nav-selection{
                height: 50px;
                position: relative;
                background-color: transparent;
    
                transition: background-color 0.25s;
    
                a{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
    
                .mobile-nav-text{
                    height:100%;
                    width: 100%;
                    margin: 0;
    
                    // Text
                    font-family: @font-std;
                    line-height: 50px;
                    font-size: 20px;
                    font-weight: bold;
                    text-align: center;
                }
    
                &:hover{
                    background-color: rgba(0, 11, 2, 0.75);
                }
            }
        }
    }
}