.search-container
{
    height: auto;
    width: 100%;
    position: relative;

    .search-filter-container
    {
        height: auto; 
        width: 100%; 
        background-color: blue;
        margin-bottom: 10px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}