.search-jumbotron{
    background-color: #001407;

    
}

.search-text{
    font-family: @font-std;
    color: white !important;
}

.input-group-text{
    width: 100px;
    font-family: @font-std;
    background-color: #00240c;
    color: @font-color-std;
}

.search-load-text{
    font-family: @font-std;
    color: @font-color-std;
    font-size: 30px;
    line-height: 30px;
    margin: 0 3rem 0;
}