.surah-list{
    grid-template-columns: 130px 1fr 200px 50px;

    .surah-number{
        text-align: center;
        font-style: italic;
        font-weight: bolder;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        font-size: 40px;
        padding-top: 15px;
    }

    .surah-arabic{
        justify-content: flex-end;
        font-size: 45px;
        font-family: @font-arabic;
    }
}


@media only screen and (max-width:990px)
{
    .surah-list{
        grid-template-columns: 55px 1fr 100px 40px;
    
        .surah-number{
            font-size: 20px;
            padding-top: 15px;
        }
    
        .surah-arabic{
            font-size: 20px;
        }
    }
}