@model IEnumerable<AlMualim.Models.Surah>

@{
    ViewData["Title"] = "Surah";
}

<h1>Notes By Surah</h1>
<div class="surah-container">
    <div class="surah">

        <a  asp-route-id="tester"></a> 
    </div>
</div>
