@model IEnumerable<AlMualim.Models.Notes>

@{
    ViewData["Title"] = "Surah Notes";
    var surah = (Surah)ViewData["Surah"];
}


<div class="list-container">
    <h1>@surah.ToString()</h1>
    @foreach (var ruku in (List<int?>)ViewData["RukuList"])
    {
        <div class="ruku-section">
            <div class="list-main">
                <a href="javascript:void(0)" class="link-box"></a>
                @if (ruku == null)
                {
                    <div class="ruku-text">General</div>
                } 
                else
                {
                    <div class="ruku-text">Ruku @ruku</div>
                }
                <div class="ruku-arrow">V</div>
            </div>
            <div class="ruku-subsection">
                @foreach (var note in Model.Where(n => n.Ruku == ruku))
                {
                    <div class="list-sub">
                        <a asp-controller="Notes" asp-action="Details" asp-route-id="@note.ID" class="link-box"></a>
                        <div class=""> - @note.Title</div>
                        <div class="">></div>
                    </div>
                }
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function()
    {
        $(".ruku-display").click(function()
        {
            $(this).parent().toggleClass("active");
        });
    });
</script>