@model AlMualim.Models.Notes

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Notes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surah" class="control-label"></label>
                <input asp-for="Surah" class="form-control" />
                <span asp-validation-for="Surah" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ruku" class="control-label"></label>
                <input asp-for="Ruku" class="form-control" />
                <span asp-validation-for="Ruku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlobName" class="control-label"></label>
                <input asp-for="BlobName" class="form-control" />
                <span asp-validation-for="BlobName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAdded" class="control-label"></label>
                <input asp-for="DateAdded" class="form-control" />
                <span asp-validation-for="DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdated" class="control-label"></label>
                <input asp-for="LastUpdated" class="form-control" />
                <span asp-validation-for="LastUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="contorl-label">Topics</label>
                <select name="SelectedTopics" multiple>
                    @foreach (Topics topic in (List<Topics>)ViewData["Topics"])
                    {
                        @if (Model.Topics.Any(t => t.ID == topic.ID))
                        {<option value="@topic.ID" selected>@topic.Title</option>} 
                        else
                        {<option value="@topic.ID">@topic.Title</option>} 
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
