@model IEnumerable<AlMualim.Models.Notes>

@{
    ViewData["Title"] = "Search";
}

<div class="container">
    <partial name="/Views/Shared/_Search.cshtml" />


    <div id="results-container">
        
    </div>

    <script>
        var url = "./Search/SearchResults";
    </script>
</div>
