@{
    var menuList = new List<string>() { "Surah", "History", "Prophets", "Topics", "Search", "About" };
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AlMualim</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <nav class="navigation">
        <div class="nav-logo">
            <a href="./" class="nav-icon"></a>
        </div>
        <div class="nav-container">
            @foreach (var menuItem in menuList)
            {
                <div class="nav-selection">
                    <a asp-controller="@menuItem" asp-action="Index"></a>
                    <div class="nav-text radial-text">@menuItem</div>
                </div>
            }
        </div>
    </nav>

    <div class="container">
        <div class="nav-spacer">

        </div>
        @RenderBody()
    </div>

    <div class="footer-spacing">
    </div>
    <div class="footer">
        © 2021 - AlMualim - Note by Uzma Jabeen  - Website designed by Teraflare Development Inc.
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
